@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Open+Sans:ital@1&family=Oswald:wght@400;700&family=Roboto:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Open Sans', serif;
  background-color: #ffffff;
}


/* Código referente ao header a partir daqui */

/* Código da linha estética do site no header */

header .line{
  background-color: #117015;
  height: 10px;
}

/* Classe padrão do tipo container para definirmos o limite de largura dos textos, títulos, e qualquer outro tipo de tag  */

.container{
  width: 1140px;
  margin: auto;
}

/* .header_limit é a classe que define como os elementos irão se comportar no header */

.header_limit{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-top: 10px;
}

/* alterando o tamanho da logo */

.logo img{
  height: 64px;
  width: 64px;
}

/* .header_right define como os elementos a direita do header irão se comportar
. Elementos como o searchbox, lupa e o menu  */

.header_right{
  display: flex;
  margin-right: 10px;
  align-items: center;
}

.header_right .searchBox{
  margin: 0 10px 0 0;
}

/* Definindo que os elementos da tag form irão ser direcionados em linha e não no formato coluna */

.header_right .searchBox form{
  display: flex;
}

/* Realiza alterações de como o input irá ser visualizado, como tamanho do placeholder, padding, borda e entre outros definidos abaixo  */

.header_right .searchBox input{
  font-size: 16px;
  padding: 10px 13px;
  border: 1px solid #999999;
  outline: 0;
  width: 100%;
  max-width: 220px;
  padding-right: 40px;
}

/* Todo o código abaixo referente a button são definições de como nosso botão que tem um formato de uma lupa irá ser exibido. Como tamanho, se terá borda, o que acontecerá se o mouse estiver sobre o botão e ntre outras funcionalidades */

.header_right .searchBox button{
  background: transparent;
  padding: 7px 10px;
  border: 0;
  margin-left: -37px;
  cursor: pointer;
}
.header_right .searchBox button:hover{
  outline: 1px solid #000000;
}

.header_right .searchBox button img{
  width: 16px;
  height: 16px;
}

/* Aqui iremos utilizar formatações css para desenhar três bordas paralelas utilizando flexbox para definir elementos em formato de coluna(column) */

.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  cursor: pointer;
}

/* Foi o utilizado o seletor nth para selecionar cada elemento da div e definí-las com as formatações certas, mas seria possível utilizar uma única classe a aplicar a cada uma dessas div's. O nth foi optado por questões didáticas e de aprendizado. Ou poderia ser usado uma imagem no lugar das formatações  */

.menu div:nth-child(1){
  border: 1px solid black;
  border-radius: 100px;
  height: 1px;
  width: 20px;
}

.menu div:nth-child(2){
  border: 1px solid black ;
  border-radius: 100px;
  margin-top: 5px;
  height: 1px;
  width: 20px;
}

.menu div:nth-child(3){
  border: 1px solid black;
  border-radius: 100px;
  margin-top: 5px;
  height: 1px;
  width: 20px;
}

header{
  margin-bottom: 40px;
}

/* Todo código a partir daqui é referente ao banner */



/* na classe banner iremos definir o background do tipo imagem e suas propriedades */

.banner{
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px;
}

/* alterando as propriedades do título h1, como fonte, tipografia, margem e entre outros */

.banner h1{
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: 90px;
  line-height: 95px;
  margin-bottom: 20px;
}

.banner span{
  margin-left: 5px;
}

/* criando um espaço entre o texto secundário e as 3 imagens(no caso o container que abriga essas três imagens) */

.banner-images{
  margin-top: 60px;
}

/* alterando as características e propriedades de cada imagem de forma individual */

.banner-images img{
  width: 148px;
  height: 148px;
  border: 6px solid #117015;
  border-radius: 50%;
  margin-right: 40px;
}

